body {
    box-sizing: content-box;
    background-color: #8590AA;
}

.searchDiv {
    height: 10vh;
}

::placeholder {
    color: white;
    opacity: 1;
}

#searchInput {
    text-align: left;
    padding: 10px;
    border: 0;
    border-radius: 3px;
    box-shadow: 0px, 8px, 15px;
}

.noPoster {
    background-image: url('./assets/JC.jpeg');
    color: yellowgreen;
    text-align: center;
}

.button {
    padding: 10px;
}

.resultContainer {
    height: 70vh;
}

#movieInfoModal {
    position: fixed;
    width: 40vh;
    height: 60vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: antiquewhite;
}

.modalHeader {
    background-color: burlywood;
    height: 9%;
}

.modalTitle, .modalCloseButton {
    display: inline-block;
}

.modalCloseButton {
    float: right;
}

.modalBody {
    width: 100%;
    height: 89%;
}

.modalRow {
    height: 60%;
    width: 100%;
    display: flex;
    flex-direction: row;
    border: 2px solid red;
}

.modalNewsBox {
    height: 30%;
    border: 2px solid blue;
}

.posterRTBox {
    border: 1px solid black;
    width: 40%;
}

.modalReviewsBox {
    border: 1px solid black;
    width: 60%;
}

.modalMoviePoster {
    height: 79%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.modalMoviePoster, .releaseAndTypeBox, .modalReaseDate, .modalMovieType {
    width: 100%;
}

.hidden {
    display: none;
}

.titleDiv {
    text-align: center;
    height: 15vh;
    font-size: 13vh;
    padding-bottom: 3vh;
}

.searchDiv {
    text-align: center;
}

.resultContainer {
    height: 70vh;
    padding-top: 3vh;
    display: flex;
    flex-wrap: wrap;
}

.moviePoster {
    height: 45%;
    width: 16%;
    margin: 2%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.navbar {
    background-color: #3B8BEB !important;
}

.mnr {
    color: black;
}

/* .searchbar {
    margin-bottom: auto;
    margin-top: auto;
    height: 60px;
    background-color: #353b48;
    border-radius: 30px;
    padding: 10px;
}

.searchInput {
    color: white;
    border: 0;
    outline: 0;
    background: none;
    width: 0;
    caret-color:transparent;
    line-height: 40px;
    transition: width 0.4s linear;
} */

/* .search_icon {
    height: 40px;
    width: 40px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color:white;
    text-decoration:none;
} */
@media screen and (max-width: 1005px) {
    .titleDiv{
        font-size: 7vh;
        height: 11vh;
    }
}

@media screen and (max-width: 701px) {
    .titleDiv{
        font-size: 5vh;
        height: 7vh;
    }
}

@media screen and (max-width: 650px) {
    .moviePoster{
        height: 50%;
        width: 31%;
    }
}

@media screen and (max-width: 310px){
    .titleDiv{
        font-size: 3vh;
        height: 7vh;
    }
}
